.product-showcase {
  position: relative;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  aspect-ratio: 16/9;
  background-image: url(../img/Ugens\ fund.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bottom-section {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 24px 16px;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  gap: 16px;
}

.few-left-alert {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 16px 24px;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.grow {
  flex-grow: 1;
}

.product-hotspot {
  position: absolute;
  padding: 8px;
  border-radius: 50%;

  background-color: white;
  cursor: pointer;
  animation: pulse 2s infinite;
  z-index: 10;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
